{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main class="c-home">
		<h1 class="c-home__title">We are Jardiland !</h1>
	</main>
{% endblock %}
